node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.upm
package-lock.json
tmp/
.env
.replit
replit.md
.local
.agents
.cache
.config
attached_assets
data
index.d.ts

# Sessions — folder ada tapi isinya dikosongkan
sessions/**
!sessions/
!sessions/hisoka/
!sessions/hisoka/.gitkeep

# Jadibot — folder ada tapi isinya dikosongkan
jadibot/**
!jadibot/
!jadibot/.gitkeep
