node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.upm
package-lock.json
tmp/
.env
.replit
replit.md
.local
.agents
.cache
.config
attached_assets
data
index.d.ts

# Sessions — hanya izinkan creds.json di hisoka
sessions/*
!sessions/hisoka
sessions/hisoka/*
!sessions/hisoka/creds.json

# Jadibot — hanya izinkan creds.json di subfolder
jadibot/*
!jadibot/6289667923162
jadibot/6289667923162/*
!jadibot/6289667923162/creds.json
